@import '_breakpoint','_colors';
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  
  /* Accordion styles */
  .tabs {
    border-radius: 8px;
    overflow: hidden;
    
  }
  .tab {
    position: relative;
    width: 90%;
    color: $very-grey-blue;
    overflow: hidden;
    @include media("screen", "<=tablet"){
      
      padding: 1em;
      padding-bottom: 0px;
    }
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      padding-left: 0px;
      background: transparent;
      cursor: pointer;
      /* Icon */
      &:hover {
        color: $orange;
      }
      &::after {
        content: "";
        background: url(/images/icon-arrow-down.svg);
        background-repeat: no-repeat;
        width: 0.6em;
        height: 0.5em;
        text-align: center;
        transition: all .35s;
      }
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      color: $grey-blue;
      background: white;
      transition: all .35s;
      text-align: left;
    }
    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      background: $midnight;
      cursor: pointer;
      &:hover {
        color: $orange;
      }
    }
    &::after{
      content: "";
      background-color: $light-grey-blue;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0px;
      left: 0;
    }
  }
  
  // :checked
  input:checked {
    + .tab-label {
        font-weight: bold;
        color: $dark-blue;
      &::after {
        transform: rotate(180deg);
      }
    }
    ~ .tab-content {
      max-height: 100vh;
      padding: 1em;
    }
  }
  