$midnight: #2c3e50;
$clouds: #ecf0f1;
$dark-blue: hsl(238, 29%, 16%);
$orange: hsl(14, 88%, 65%);
$very-grey-blue: hsl(237, 12%, 33%);
$grey-blue: hsl(240, 6%, 50%);
$light-grey-blue: hsl(240, 5%, 91%);
