@import '_breakpoint', '_colors';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
html{
    background: rgb(175,103,233);
    background: -moz-linear-gradient(180deg, rgba(175,103,233,1) 20%, rgba(101,101,231,1) 80%);
    background: -webkit-linear-gradient(180deg, rgba(175,103,233,1) 20%, rgba(101,101,231,1) 80%);
    background: linear-gradient(180deg, rgba(175,103,233,1) 20%, rgba(101,101,231,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#af67e9",endColorstr="#6565e7",GradientType=1);

}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 100%;
    
}
.container{
    @include media("screen", "<=tablet"){
        overflow-y: auto;
    }
    .card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 65vw;
        background-color: #ffffff;
        // background:white url(/images/bg-pattern-desktop.svg) no-repeat -250px -170px fixed;
        height: 70vh;
        border-radius: 15px;
        box-shadow: 0px 22px 50px -15px hsl(238, 29%, 16%);
        position: relative;
        @include media("screen", "<=desktop"){
            width: 90vw;
            height: 90vh;
        }
        @include media("screen", "<=tablet"){
            flex-direction: column;
        }
        @include media("screen", "<=phone"){
            margin-top: 200px;
        }
        &__image{
            flex: 3;
            @include media("screen", "<=tablet"){
                flex: 1;
            }
        }
        &__image:after{
            order: 0;
            content: "";
            background: url(/images/bg-pattern-desktop.svg) no-repeat -250px -170px fixed;
            width: 100%;
            max-width: 200%;
            height: 100vh;
            position: absolute;
            background-repeat: no-repeat;
            left: -8.5%;
            top: -10%;
            z-index: 1;
            clip: rect(7vh, auto, auto, 5.5vw);
            @include media("screen","<=desktop"){
                background: url(/images/bg-pattern-desktop.svg) no-repeat -450px -200px fixed;
                clip: rect(8vh, auto, auto, 6.5vw);
            }
            @include media("screen", "<=phone"){
                background: url(/images/bg-pattern-mobile.svg) no-repeat;
                width: 80%;
                background-size: contain;
                position: absolute;
                left: 41px;
                top: 3px;
                clip: auto;
            }
        }
        &__image img{
            width: 50%;
            max-width: 100%;
            height: auto;
            background-repeat: no-repeat;
            position: absolute;
            left: -8.5%;
            top: 10%;
            z-index: 2;
            clip: rect(auto, auto, auto, 5.5vw);
            @include media("screen", "<=desktop"){
                width: 60%;
                left: -8.2%;
                clip: rect(auto, auto, auto, 6.5vw);
            }
            @include media("screen", "<=phone"){
                width: 90%;
                left: 0;
                top: -19vh;
            }

        }
        &__box img{
            width: 19%;
            max-width: 100%;
            height: auto;
            background-repeat: no-repeat;
            position: absolute;
            left: -6.5vw;
            top: 27vh;
            z-index: 3;
            @include media("screen", "<=desktop"){
                width: 21.9%;
                left: -7vw;
                top: 30vh;
            }
            @include media("screen", "<=tablet"){
                display: none;
            }
        }
        &__data{
            order: 1;
            flex: 3;
            z-index: 2;
            @include media ("screen", "<=phone") {
                text-align: center;
                
            }
            .data__header{
                color: hsl(238, 29%, 16%);
                font-size: 3vw;
                margin-top: 7vh;
                @include media("screen", "<=phone"){
                    font-size: 5vh;
                }
            }
            
        }
    }
}

.data__drop{
    .drop__accordion{
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        &:hover{
            background-color: #ccc;
        }
    }
    .accordion__panel{
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
            }
}


.active{
    background-color: #ccc;
}

@import '_accordion';